fastmcp==3.4.5
fastmcp-slim==3.4.5
huggingface_hub==1.25.1
langchain==1.3.14
langchain-classic==1.0.8
langchain-community==0.4.2
langchain-core==1.5.1
langchain-huggingface==1.2.2
langchain-openai==1.4.1
langchain-openrouter==0.2.7
langchain-protocol==0.0.18
langchain-text-splitters==1.1.2
odc-geo==0.5.3
odc-loader==0.6.4
odc-stac==0.5.2
planetary-computer==1.0.0
pystac==1.15.2
pystac-client==0.9.0
pystac-core==1.15.2
pystac-ext-classification==2.0.0
pystac-ext-datacube==2.2.0
pystac-ext-eo==1.1.0
pystac-ext-file==2.1.0
pystac-ext-grid==1.1.0
pystac-ext-item-assets==1.0.0
pystac-ext-label==1.0.1
pystac-ext-mgrs==1.0.0
pystac-ext-mlm==1.4.0
pystac-ext-pointcloud==1.0.0
pystac-ext-projection==2.0.0
pystac-ext-raster==1.1.0
pystac-ext-render==2.0.0
pystac-ext-sar==1.0.0
pystac-ext-sat==1.0.0
pystac-ext-scientific==1.0.0
pystac-ext-storage==2.0.0
pystac-ext-table==1.2.0
pystac-ext-timestamps==1.1.0
pystac-ext-version==1.2.0
pystac-ext-view==1.0.0
pystac-ext-xarray-assets==1.0.0
requests==2.32.5
requests-toolbelt==1.0.0
sentence-transformers==5.6.1
transformers==5.14.1
ddgs>=6.0.0